@import "locomotive-scroll/dist/locomotive-scroll.css";

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: auto;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: var(--color-foreground);
    background: var(--color-background);
    background: radial-gradient(
        circle,
        var(--color-background) 0%,
        rgb(0, 0, 0) 100%
    );
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

button {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 2px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgb(95, 98, 242);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(107, 83, 237);
}
