@import "tailwindcss";
@import "./styles/theme.css";

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    /*background-color: var(--color-dark);*/
    color: var(--color-text);
    overflow: hidden;
    background: hsla(269, 94%, 13%, 1);
    background: radial-gradient(
        circle,
        var(--color-primary) 0%,
        hsla(0, 0%, 0%, 1) 100%
    );
}

button {
    cursor: pointer;
}
/*
::-webkit-scrollbar {
    width: 0px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.15);
}*/

@keyframes fade-in-down {
    0% {
        opacity: 0;
        transform: translateY(-20px) scale(0.95);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.animate-fade-in-down {
    animation: fade-in-down 0.3s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@layer components {
    .surface {
        background: rgba(0.11, 0.1, 0.1, 0.1);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border-color: rgba(100, 100, 100, 0.4);
        border-width: 1.5px;
    }
}
